:root{

--background:#02040b;

--white:#ffffff;

--text:#f3f5ff;

--primary:#6D8EFF;

--secondary:#8F53FF;

--glass:rgba(255,255,255,.08);

--border:rgba(255,255,255,.15);

--shadow:rgba(0,0,0,.45);

}